POSTGRES_DB=marketguard
POSTGRES_USER=marketguard
POSTGRES_PASSWORD=

MARKETGUARD_ADMIN_USERNAME=operator
MARKETGUARD_ADMIN_PASSWORD=
MARKETGUARD_ALLOWED_ORIGINS=http://localhost:5050
HOST_PORT=5050

COLLECTOR_ENABLED=false
TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
